doctype html(lang='en')
head
    meta(charset='UTF-8') 
    title Document
    link(rel='stylesheet', href='grilla.css')
    style.
      body,html{
        margin:0;padding:0;
      }
      *{
        box-sizing:border-box;
      }
  body
    include grilla.jade
    