div.demoSubSeparador#e-full
  h4 FULL WIDTH
.grilla.estructura.u-fullWidth
  .colSe.colSe_1
    p.demoCallOut COL 1    
div.demoSubSeparador#e-boxed
  h4 BOXED WIDTH
.grilla.estructura.u-boxedWidth
  .colSe.colSe_1
    .estructura
      .colSe.colSe_1
        p.demoCallOut COL 1    
div.demoSubSeparador#columnas
  h4 Columnas
.grilla.estructura.u-boxedWidth
  .colSe.colSe_1
    .estructura
      .colSe.colSe_1_2
        p.demoCallOut COL 1/2          
      .colSe.colSe_1_2
        p.demoCallOut COL 1/2           
    .estructura
      .colSe.colSe_1_3
        p.demoCallOut COL 1/3             
      .colSe.colSe_1_3
        p.demoCallOut COL 1/3            
      .colSe.colSe_1_3
        p.demoCallOut COL 1/3          
    .estructura
      .colSe.colSe_1_4
        p.demoCallOut COL 1/4             
      .colSe.colSe_1_4
        p.demoCallOut COL 1/4            
      .colSe.colSe_1_4
        p.demoCallOut COL 1/4            
      .colSe.colSe_1_4
        p.demoCallOut COL 1/4          
    .estructura
      .colSe.colSe_1_5
        p.demoCallOut COL 1/5            
      .colSe.colSe_1_5
        p.demoCallOut COL 1/5            
      .colSe.colSe_1_5
        p.demoCallOut COL 1/5             
      .colSe.colSe_1_5
        p.demoCallOut COL 1/5            
      .colSe.colSe_1_5
        p.demoCallOut COL 1/5  
    .estructura
      .colSe.colSe_1_6
        p.demoCallOut COL 1/6             
      .colSe.colSe_1_6
        p.demoCallOut COL 1/6            
      .colSe.colSe_1_6
        p.demoCallOut COL 1/6             
      .colSe.colSe_1_6
        p.demoCallOut COL 1/6            
      .colSe.colSe_1_6
        p.demoCallOut COL 1/6            
      .colSe.colSe_1_6
        p.demoCallOut COL 1/6          
    .estructura
      .colSe.colSe_1_3
        p.demoCallOut COL 1/3            
      .colSe.colSe_2_3
        p.demoCallOut COL 2/3         
    .estructura
      .colSe.colSe_1_4
        p.demoCallOut COL 1/4            
      .colSe.colSe_3_4
        p.demoCallOut COL 3/4
         