- var skinHead = 1
- var skinMenu = 1
- var menuList = [1, 2, 3, 4, 5]
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title HEADERS
    link(rel="stylesheet", href="headers.css")
  body
    include header.jade