/*------------------------------------*\
*    $MENUES.css
\*------------------------------------*/

/*------------------------------------*\
    #MENU MOBILE
\*------------------------------------*/
.MenuMobile{
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999999;
  min-height: 100vh;
  width: 240px;
  display:block;
  left:-240px;
  font-size: 1em;
  line-height: 1.6em;
  transition:all 1000ms ease-in-out; }
  .MenuMobile.is-open{
    transition:all 1000ms;
    transform:translateX(240px); }

.MenuMobile .Menu-item:after{
    content:"";
    border-bottom:1px solid rgba(0,0,0,.1);
    display:block; }

.MenuMobile .Menu-item .Menu{
    background:rgba(0,0,0,.2); }

.MenuMobile .Menu-link{
  padding:0.5em 1.250em;
  display:block; }
  .MenuMobile .Menu-item.is-desplegable .Menu-link{
    padding-left:50px; }

.MenuMobile-close{
  display:block;
  width:40px;
  height:2.6em;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top:0;
  right:0px;
  cursor:pointer;
  transition:all 600ms;
  background: inherit;
  z-index: 1;  }
  .MenuMobile.is-open .MenuMobile-close{
    transform:translateX(40px); }
  .MenuMobile-close i{
    vertical-align: middle;
    line-height: 2.6em; }
  .MenuMobile-close:before{
    content:"";
    background:rgba(0,0,0,.1);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0; }

.MenuMobile-desplegarIcon{
  position:absolute;
  top:0;
  right:0;
  width:40px;
  line-height: 2.6em;
  height:2.6em;
  cursor: pointer;
  background-color: rgba(0,0,0,.2);
  text-align: center;
  vertical-align: middle; }

/*------------------------------------*\
    #MENU SECCION
\*------------------------------------*/
.MenuSeccion{
  text-align: right;
  list-style: none;
  margin-bottom:0; 
  position:relative; 
  z-index:1; }
  .MainSection-item{
    display:inline-block;
    padding:5px 10px; }


/*------------------------------------*\
    #MENU PRINCIPAL SKINS
\*------------------------------------*/

@media only screen and (min-width: 50.0000em) {


/*-- @MENU SKIN DEFAULTS --*/
  .flexbox .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link {
    display: flex;
    height: 100%;
    align-items: center; 
    transition: all 50ms;
    font-size:18px; }

  [data-header-type="3"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link{
    justify-content:center;
    text-align: center;
  }

  [data-header-type="3"] .MainMenuContainer .MenuPrincipal .Menu-item {
    text-align: center;
  }

  

  .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
    padding:0.625em 1em; }
    
  .MainMenuContainer .MenuPrincipal .Menu-text {
    z-index: 9999;
    position:relative; }
  .MainMenuContainer .MenuPrincipal > .Menu-item{
    position:relative;
  }


  .MainMenuContainer .MenuPrincipal > .Menu-item:hover > .Menu-link:after,
  .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active:after,
  .MainMenuContainer .MenuPrincipal > .Menu-item:hover > .Menu-link:before,
  .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active:before{
      opacity:1!important; }

/*-- @MENU SKIN 1 - Barra abajo del texto--*/
  [data-menu-type="1"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    content:"";
    margin-left:10%;
    width:80%;
    height: 4px;
    left:0;
    z-index: 10;
    display:block;
    top:50%;
    margin-top:20px; 
    position: absolute;
    opacity:0;
    transition: all 200ms ease-in-out; } 

/*-- @MENU SKIN 2 - Barra abajo de todo --*/
  [data-menu-type="2"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    content:"";
    width:100%;
    height: 4px;
    left:0;
    top:100%;
    z-index: 10;
    display:block;
    position: absolute;
    opacity:0;
    transition: all 200ms ease-in-out; }
  [data-menu-type="2"] .MainMenuContainer .MenuPrincipal .Menu{
    border-width:4px 0px 0px 0px;
    border-style: solid; }

  /*-- @MENU SKIN 3 - Barra arriba de todo --*/
  [data-menu-type="3"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    content:"";
    width:100%;
    height: 4px;
    left:0;
    top:0;
    z-index: 10;
    display:block;
    position: absolute;
    opacity:0;
    transition: all 200ms ease-in-out; }

/*-- @MENU SKIN 4 - Moustaches --*/
  [data-menu-type="4"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after,
  [data-menu-type="4"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:before{
    content: "}";
    font-size: 30px;
    z-index: 10;
    opacity: 0;
    transition: all 200ms ease-in-out 0s;
    vertical-align: middle;
    right:7px;
    position: relative;
    transform: translateY(-2px);
    } 
  [data-menu-type="4"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:before{
    content: "{";
    left:7px;
    right: auto; }

/*-- @MENU SKIN 5 - Left Bar --*/
  [data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:before{
    content: "";
    top: 0px;
    margin: auto;
    width: 2px;
    height: 14px;
    left: 0em;
    bottom: 0px;
    z-index: 10;
    display: block;
    position: absolute;
    opacity: 1;
    transition: all 100ms ease-in-out 0s;
    vertical-align: middle;
    line-height: 40px; }

  [data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item:hover > .Menu-link:before,
  [data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active:before{
    border-style: solid;
    border-right-width:1px;
    height:0px;
    width:0;
    border-width: 7px 0 7px 7px; }

/*-- @MENU SKIN 6 - Triangle Up --*/
  [data-menu-type="6"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    content: "";
    border-style: solid;
    border-width: 7px 7px 0px;
    display: block;
    height: 0px;
    left: 50%;
    margin-left: -7px;
    top: 0px;
    width: 0px;
    opacity: 0;
    position:absolute;
    transition: all 200ms ease-in-out 0s; }


/*-- @MENU SKIN 7 - Triangle Down --*/
  [data-menu-type="7"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    content: "";
    border-style: solid;
    border-width: 0 7px 7px 7px;
    display: block;
    height: 0px;
    left: 50%;
    margin-left: -7px;
    bottom: 0px;
    width: 0px;
    opacity: 0;
    position:absolute;
    transition: all 200ms ease-in-out 0s; }

/*-- @MENU SKIN 8 - Plain --*/
  [data-menu-type="8"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    position:absolute;
    transition: all 200ms ease-in-out 0s;
    z-index: 0; }
  
/*-- @MENU SKIN 9 - Button --*/
  [data-menu-type="9"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
    border-radius:4px;
    margin:0 0 0 5px; }

/*-- @MENU SKIN 10 - Vintage Bar --*/
  [data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item:first-child  > .Menu-link> .Menu-text{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  [data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item:last-child  > .Menu-link> .Menu-text{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }

  [data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat:repeat-x; }
  [data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:hover > .Menu-text,  
  [data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active > .Menu-text{
    background-position: 0 -15px;
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.2);
  }


/* HEADER TYPE 2 */
  [data-header-type="2"]:not([data-menu-type="9"]):not([data-menu-type="10"]) .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
    padding:1.625em 1em; }

  [data-header-type="2"][data-menu-type="9"] .MenuPrincipal > .Menu-item,
  [data-header-type="2"][data-menu-type="10"] .MenuPrincipal > .Menu-item{
    padding-bottom:1em; }

/* HEADER TYPE 3 */

  

  [data-header-type="3"][data-menu-type="8"] .MainMenuContainer .MenuPrincipal {
    margin-left:-.9375em;
    margin-right:-.9375em; }

  [data-header-type="3"][data-menu-type="1"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after {
    width:6%;
    margin-left:0;
    left:50%;
    transform:translateX(-50%); }

  [data-header-type="3"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link{
    display: block;
  }
  [data-header-type="3"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
    display: inline-block;
  }

  [data-header-type="3"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:before {
    position: static;
    display:inline-block;
  }

  [data-header-type="3"][data-menu-type="6"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link::after {
    left:50%;
  }
  [data-header-type="3"][data-menu-type="7"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link::after {
    left:50%;
  }

  [data-header-type="3"][data-menu-type="9"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
    margin-left: 0px; }

  [data-header-type="3"] .MainMenuContainer .subMenu{
    position:absolute;
    left:100%;
    top:0; }

  [data-header-type="3"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text {
      padding: .5em 0;
      margin: .5em 0;
  }

  [data-header-type="3"][data-menu-type="4"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active > .Menu-text,
  [data-header-type="3"][data-menu-type="4"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:hover > .Menu-text,
  [data-header-type="3"][data-menu-type="9"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active > .Menu-text,
  [data-header-type="3"][data-menu-type="9"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:hover > .Menu-text{
    padding-left: 1em;
    padding-right: 1em;
  }

  [data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
    width:100%;
    border-radius: 5px;
    padding: .5em 1em;
    border:2px solid;
  }

  [data-header-type="3"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text,
  [data-header-type="3"][data-menu-type="8"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
      padding-left: 1em;
      padding-right: 1em;
  }

  [data-header-type="3"] .MainMenuContainer .subMenu .Menu .Menu-item .Menu-link{
    padding: 1em; }

  [data-header-type="3"] .subMenu .Menu .Menu-item:first-child:after {
    content:"";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 13px 10px 0;
    position: absolute;
    right: 100%;
    top:50%;
    margin-top:-6px;
  }
  
  [data-header-type="3"][data-menu-type="8"] .subMenu .Menu .Menu-item:first-child:after {
    content:"";
    top:0;
    position: absolute;
    left:0;
    border:0px;
    border-left: 1px solid black;
    margin:0;
  }

  [data-header-type="3"] .subMenu .Menu:after {
    content:"";
    width: 50px;
    height: 100%;
    right:100%;
    position: absolute;
    top:0;
  }
  [data-header-type="3"]:not([data-menu-type="8"]) .MainMenuContainer .subMenu .Menu {
    margin-left:.9375em!important;
  }

  [data-header-type="3"] .MainMenuContainer .subMenu .Menu {
    border-top: 0px!important;
    box-shadow: none; }

  [data-header-type="3"] .MainMenuContainer,
  [data-header-type="3"] .MainMenuContainer .MenuPrincipal,
  [data-header-type="3"] .MainMenuContainer .MenuPrincipal .Menu-item{
    display:block; }  
  
  [data-header-type="3"] .MenuPrincipal{
    font-size:18px;
  }
  [data-header-type="3"] .MainMenuContainer{
    transform:translateY(30%);
  }

}

/*------------------------------------*\
    #SUBMENU 
\*------------------------------------*/

.flexbox .subMenu .Menu,
.no-flexbox .subMenu .Menu{
  display:none; }

.MainMenuContainer .Menu-item:hover .Menu{
  display:block!important; }

.MainMenuContainer .subMenu{
  position: absolute;
  bottom:0;
  left:0;
  display:block;
  right:0;
  z-index:999999; }
  .MainMenuContainer .subMenu .Menu{
    position:absolute;
    left:-2px;
    z-index: 1;
    padding:0;
    margin:0;
    width: 200px;
    z-index:999999; }
    .MainMenuContainer .subMenu .Menu .Menu-item{
      display: block; }
    .MainMenuContainer .subMenu .Menu .Menu-item .Menu-link{
      display: block;
      padding: 0.625em 1.250em; }
    .MainMenuContainer .subMenu .Menu-item{
      border-bottom:1px solid rgba(0,0,0,.1); }
      .MainMenuContainer .subMenu .Menu-item:before{
        content:"";
        background:rgba(0,0,0,.2);
        height:100%;
        width:100%;
        position:absolute;
        left:0;
        top:0;
        opacity:0;
        transition:all 200ms; }
      .MainMenuContainer .subMenu .Menu-item:hover:before{
        opacity:1; }

.MainMenuContainer .subMenu .Menu{
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7); }

.MainMenuContainer .subMenu .Menu-link{
  position: relative;
  z-index: 1; }


/*------------------------------------*\
    #MENU WIDGET
\*------------------------------------*/

.Widget_MenuOpciones ul{
  padding:0px;
}
.Widget_MenuOpciones ul li{
  list-style: none;
}
.Widget_MenuOpciones ul li a{
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
.Widget_MenuOpciones ul li:hover a{
  border-bottom: 1px solid;
}

[data-tipo_menu="horizontal"].Widget_MenuOpciones ul li{
  display: inline-block;
  margin-right: 18px;
  margin-bottom: 18px;
}
[data-tipo_menu="vertical"].Widget_MenuOpciones ul li{
  display: block;
  margin-bottom: 18px;
}
