/*------------------------------------*\
    #COLORES BOTONES
\*------------------------------------*/

/*-- @BOTON ACENTO 1 --*/
  [data-accent="1"] .btn-default,
  .btn-accent-1{
    background-image: linear-gradient(to bottom, acento1_lighten 0%, acento1 100%);
    border-color: acento1_darken; }
  [data-accent="1"] .btn-default:hover,
  .btn-accent-1:hover,
  [data-accent="1"] .btn-default:focus,
  .btn-accent-1:focus{
    background-color:acento1;
    color:#fff; }
    
  [data-accent="1"] .btn-default:active,
  .btn-accent-1:active{
    background-color:acento1;
    border-color: acento1_darken;
    background-image: none; }

  [data-accent="1"] .btn-line-default,
  .btn-line-accent-1{
    border-color: acento1;
    color:acento1; }
  [data-accent="1"] .btn-line-default:hover,
  .btn-line-accent-1:hover,
  [data-accent="1"] .btn-line-default:focus,
  .btn-line-accent-1:focus{
    background-color:acento1;
    color:#fff; }
    
/*-- @BOTON ACENTO 2 --*/
  [data-accent="2"] .btn-default,
  .btn-accent-2{
    background-image: linear-gradient(to bottom, acento2_lighten 0%, acento2 100%);
    border-color: acento2_darken; }
  [data-accent="2"] .btn-default:hover,
  .btn-accent-2:hover,
  [data-accent="2"] .btn-default:focus,
  .btn-accent-2:focus{
    background-color:acento2;
    color:#fff; }

  [data-accent="2"] .btn-line-default,
  .btn-line-accent-2{
    border-color: acento2;
    color:acento2; }
  [data-accent="2"] .btn-line-default:hover,
  .btn-line-accent-2:hover,
  [data-accent="2"] .btn-line-default:focus,
  .btn-line-accent-2:focus{
    background-color:acento2;
    color:#fff; }