/*------------------------------------*\
    #COLORES HEADER
\*------------------------------------*/
  [data-accent="1"] .MainLogo{
    color:acento1!important;
  }
  [data-accent="2"] .MainLogo{
    color:acento2!important;
  }
  
  [data-header-color="3"][data-accent="1"] .MainLogo,
  [data-header-color="3"][data-accent="2"] .MainLogo{
    color:textForSubmenuA1!important;
  }
  [data-header-color="4"][data-accent="1"] .MainLogo,
  [data-header-color="4"][data-accent="2"] .MainLogo{
     color:textForSubmenuA2!important;
  }



  [data-header-color="0"] .Section--logoAndMenu:before,
  [data-header-color="0"] .Header{
    background-color:transparent; }
  
  
  [data-header-color="0"][data-luma="claro"] .Section--logoAndMenu.sticky:before,
  [data-header-color="0"][data-luma="claro"] .Section--logoAndMenu.sticky-mobile:before{
    background-color:backClaro;
  }
  [data-header-color="0"][data-luma="oscuro"] .Section--logoAndMenu.sticky:before,
  [data-header-color="0"][data-luma="oscuro"] .Section--logoAndMenu.sticky-mobile:before{
    background-color:backOscuro;
  }
  



  [data-luma="claro"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link {
    color:primario; }
  [data-luma="oscuro"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link {
    color:claro; }
  [data-header-color="0"] .RsMenuButton-icon{
    color:primario;
  }
  
  [data-luma="claro"][data-header-color="0"][data-header-type='3'] .Section--logoAndMenu:before,
  [data-luma="oscuro"][data-header-color="0"][data-header-type='3'] .Section--logoAndMenu:before{
    background-color:submenuBack1;
  }
  [data-luma="claro"][data-header-color="0"][data-header-type='3'] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link,
  [data-luma="oscuro"][data-header-color="0"][data-header-type='3'] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link{
    color:textForSubmenuBack1;
  }

  [data-header-color="1"] .Section--logoAndMenu:before,
  [data-header-color="1"] .Header{
    background-color:submenuBack1;
  }
  [data-header-color="1"] .RsMenuButton-icon{
    color:textForSubmenuBack1;
  }
  

  [data-header-color="2"] .Section--logoAndMenu:before,
  [data-header-color="2"] .Header{
    background-color:submenuBack2;
  }
  [data-header-color="2"] .RsMenuButton-icon{
    color:textForSubmenuBack2;
  }
  

  [data-header-color="3"] .Section--logoAndMenu:before,
  [data-header-color="3"] .Header{
    background-color:acento1;
  }
  [data-header-color="3"] .RsMenuButton-icon{
    color:textForSubmenuA1;
  }
  

  [data-header-color="4"] .Section--logoAndMenu:before,
  [data-header-color="4"] .Header{
    background-color:acento2;
  }
  [data-header-color="4"] .RsMenuButton-icon{
    color:textForSubmenuA2;
  }

  
  [data-header-color="1"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link {
    color:textForSubmenuBack1; }
  [data-header-color="2"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link {
    color:textForSubmenuBack2; }
    
  [data-header-color="3"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link {
    color:textForSubmenuA1; }
  [data-header-color="4"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link {
    color:textForSubmenuA2; }
  
/*------------------------------------*\
    #HEADER ACENTOS > links 
\*------------------------------------*/
    /*Color de link*/
  [data-header-color="3"] .MainMenuContainer .MenuPrincipal > .Menu-item:hover > .Menu-link,
  [data-header-color="3"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active{
    color:textForSubmenuA1; }
  
  [data-header-color="4"] .MainMenuContainer .MenuPrincipal > .Menu-item:hover > .Menu-link,
  [data-header-color="4"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active{
    color:textForSubmenuA2; }
    
  /*color de raya en menu typo 1,2,3*/
  [data-header-color="3"][data-menu-type="1"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after,
  [data-header-color="3"][data-menu-type="2"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after,
  [data-header-color="3"][data-menu-type="3"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    background-color: textForSubmenuA1; }

  [data-header-color="4"][data-menu-type="1"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after,
  [data-header-color="4"][data-menu-type="2"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after,
  [data-header-color="4"][data-menu-type="3"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after {
    background-color: textForSubmenuA2; }

  [data-header-color="3"][data-menu-type="2"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after,
  [data-header-color="4"][data-menu-type="2"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    top:calc(100% - 4px );
    background-color: #fff;
  }
  
/*Menu type 4 - Moustaches*/
  [data-header-color="3"][data-menu-type="4"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:before,
  [data-header-color="3"][data-menu-type="4"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    color:textForSubmenuA1;
  }
  [data-header-color="4"][data-menu-type="4"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:before,
  [data-header-color="4"][data-menu-type="4"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    color:textForSubmenuA2;
  }
  
    
/* Triangulo left */
  [data-header-color="1"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    background-color:claro; }
  [data-header-color="2"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    background-color:primario; }
    
  [data-header-color="3"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    background-color:textForSubmenuA1; }
  [data-header-color="4"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
    background-color:textForSubmenuA2;}
    
  [data-header-color="3"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item:hover > .Menu-link:after,
  [data-header-color="3"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active:after{
    border-color: transparent transparent transparent textForSubmenuA1;
    background-color:transparent; }
  [data-header-color="4"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item:hover > .Menu-link:after,
  [data-header-color="4"][data-menu-type="5"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active:after{
    border-color: transparent transparent transparent textForSubmenuA2;
    background-color:transparent; }
    

  /*-- @MENU SKIN 6 - Triangle Up --*/
    [data-header-color="3"][data-menu-type="6"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
      border-color: textForSubmenuA1 transparent transparent; }
    
    [data-header-color="4"][data-menu-type="6"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
      border-color: textForSubmenuA2 transparent transparent; }

  /*-- @MENU SKIN 7 - Triangle Down --*/
    [data-header-color="3"][data-menu-type="7"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
      border-color: transparent transparent textForSubmenuA1; }
    
    [data-header-color="4"][data-menu-type="7"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
      border-color: transparent transparent textForSubmenuA2; }

  /*-- @MENU SKIN 8 - Plain --*/
    [data-header-color="3"][data-menu-type="8"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active,
    [data-header-color="3"][data-menu-type="8"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:hover{
      color:acento1; } 
    [data-header-color="3"][data-menu-type="8"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
      background-color: textForSubmenuA1; }
      
    [data-header-color="4"][data-menu-type="8"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active,
    [data-header-color="4"][data-menu-type="8"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:hover{
      color:acento2; } 
    [data-header-color="4"][data-menu-type="8"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:after{
      background-color: textForSubmenuA2; }

  /*-- @MENU SKIN 9 - Button --*/
    [data-header-color="3"][data-menu-type="9"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:hover > .Menu-text,
    [data-header-color="3"][data-menu-type="9"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active > .Menu-text{
      background-color: textForSubmenuA1;
      color:acento1; }
    
    [data-header-color="4"][data-menu-type="9"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link:hover > .Menu-text,
    [data-header-color="4"][data-menu-type="9"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active > .Menu-text{
      background-color: textForSubmenuA2;
      color:acento2; }
      
  /*-- @MENU SKIN 10 - Button --*/
    [data-header-color="1"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
      border-color:textForSubmenuBack1;
      background:transparent;
      color:textForSubmenuBack1;
    }
    [data-header-color="2"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
      border-color:textForSubmenuBack2;
      background:transparent;
      color:textForSubmenuBack2;
    }
    [data-header-color="3"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
      border-color:textForSubmenuA1;
      background:transparent;
      color:textForSubmenuA1;
    }
    [data-header-color="4"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link > .Menu-text{
      border-color:textForSubmenuA2;
      background:transparent;
      color:textForSubmenuA2;
    }
    
    [data-header-color="1"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item:hover > .Menu-link > .Menu-text,
    [data-header-color="1"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active > .Menu-text{
      background-color:textForSubmenuBack1!important;
      color:submenuBack1;
      box-shadow:none;
    }
    [data-header-color="2"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item:hover > .Menu-link > .Menu-text,
    [data-header-color="2"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item> .Menu-link.is-active > .Menu-text{
      background-color:textForSubmenuBack2!important;
      color:submenuBack2;
      box-shadow:none;
    }
    [data-header-color="3"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item:hover > .Menu-link > .Menu-text,
    [data-header-color="3"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link.is-active > .Menu-text{
      background-color:textForSubmenuA1;
      color:acento1;
      box-shadow:none;
    }
    [data-header-color="4"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item:hover > .Menu-link > .Menu-text,
    [data-header-color="4"][data-header-type="3"][data-menu-type="10"] .MainMenuContainer .MenuPrincipal > .Menu-item> .Menu-link.is-active > .Menu-text{
      background-color:textForSubmenuA2;
      color:acento2;
      box-shadow:none;
    }
    
    [data-header-transparent="1"][data-header-luma='claro'] .Section--logoAndMenu:not(.sticky) .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link {
      color:textosOscuro!important;
    }
    [data-header-transparent="1"][data-header-luma='oscuro'] .Section--logoAndMenu:not(.sticky) .MainMenuContainer .MenuPrincipal > .Menu-item > .Menu-link {
      color:textosClaro!important;
    }
    
   