[data-accent="1"] .owl-theme .owl-dots .owl-dot.active span { 
    background: acento1!important;
}
[data-accent="1"] .owl-theme .owl-dots .owl-dot:hover span {
    background: acento2!important;
}

[data-accent="2"] .owl-theme .owl-dots .owl-dot.active span {
    background: acento2!important;
} 
[data-accent="2"] .owl-theme .owl-dots .owl-dot:hover span {
    background: acento1!important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background:transparent!important;
}

[data-accent="1"] .owl-theme .owl-controls .owl-nav [class*="owl-"] {
  color:textForBackA1 !important;
  background-color:rgba(0,0,0,.3)!important;
}

[data-accent="2"] .owl-theme .owl-controls .owl-nav [class*="owl-"] {
  color:textForBackA2 !important;
  background-color:rgba(0,0,0,.3)!important;
}

/* NUEVO CAROUSEL FIX */

[data-accent="1"] .owl-carousel .owl-dots .owl-dot.active span { 
    background: acento1!important;
}
[data-accent="1"] .owl-carousel .owl-dots .owl-dot:hover span {
    background: acento2!important;
}

[data-accent="2"] .owl-carousel .owl-dots .owl-dot.active span {
    background: acento2!important;
} 
[data-accent="2"] .owl-carousel .owl-dots .owl-dot:hover span {
    background: acento1!important;
}

.owl-carousel .owl-controls .owl-nav [class*="owl-"] {
  background:transparent!important;
}

[data-accent="1"] .owl-carousel .owl-nav [class*="owl-"] {
  color:textForBackA1 !important;
  background-color:rgba(0,0,0,.3)!important;
}

[data-accent="2"] .owl-carousel .owl-nav [class*="owl-"] {
  color:textForBackA2 !important;
  background-color:rgba(0,0,0,.3)!important;
}