  
  [data-luma="claro"] h1, [data-luma="claro"] h2, [data-luma="claro"] h3, 
  [data-luma="claro"] h4, [data-luma="claro"] h5, [data-luma="claro"] h6,
  [data-luma="claro"] .h1, [data-luma="claro"] .h2, [data-luma="claro"] .h3,
  [data-luma="claro"] .h4, [data-luma="claro"] .h5, [data-luma="claro"] .h6 {
    color:titulosOscuro;
  }
  
  [data-luma="oscuro"] h1, [data-luma="oscuro"] h2, [data-luma="oscuro"] h3, 
  [data-luma="oscuro"] h4, [data-luma="oscuro"] h5, [data-luma="oscuro"] h6,
  [data-luma="oscuro"] .h1, [data-luma="oscuro"] .h2, [data-luma="oscuro"] .h3, 
  [data-luma="oscuro"] .h4, [data-luma="oscuro"] .h5, [data-luma="oscuro"] .h6 {
     color:titulosClaro;
  }
  
  .grilla[data-luma="claro"] h1, .grilla[data-luma="claro"] h2, .grilla[data-luma="claro"] h3, 
  .grilla[data-luma="claro"] h4, .grilla[data-luma="claro"] h5, .grilla[data-luma="claro"] h6,
  .grilla[data-luma="claro"] .h1, .grilla[data-luma="claro"] .h2, .grilla[data-luma="claro"] .h3,
  .grilla[data-luma="claro"] .h4, .grilla[data-luma="claro"] .h5, .grilla[data-luma="claro"] .h6 {
    color:titulosOscuro;
  }
  
  .grilla[data-luma="oscuro"] h1, .grilla[data-luma="oscuro"] h2, .grilla[data-luma="oscuro"] h3, 
  .grilla[data-luma="oscuro"] h4, .grilla[data-luma="oscuro"] h5, .grilla[data-luma="oscuro"] h6,
  .grilla[data-luma="oscuro"] .h1, .grilla[data-luma="oscuro"] .h2, .grilla[data-luma="oscuro"] .h3, 
  .grilla[data-luma="oscuro"] .h4, .grilla[data-luma="oscuro"] .h5, .grilla[data-luma="oscuro"] .h6 {
     color:titulosClaro;
  }
  
  .grilla[data-luma="oscuro"] [data-luma="claro"] h1, .grilla[data-luma="oscuro"] [data-luma="claro"] h2,
  .grilla[data-luma="oscuro"] [data-luma="claro"] h3, .grilla[data-luma="oscuro"] [data-luma="claro"] h4,
  .grilla[data-luma="oscuro"] [data-luma="claro"] h5, .grilla[data-luma="oscuro"] [data-luma="claro"] h6,
  .grilla[data-luma="oscuro"] [data-luma="claro"] .h1, .grilla[data-luma="oscuro"] [data-luma="claro"] .h2,
  .grilla[data-luma="oscuro"] [data-luma="claro"] .h3, .grilla[data-luma="oscuro"] [data-luma="claro"] .h4,
  .grilla[data-luma="oscuro"] [data-luma="claro"] .h5, .grilla[data-luma="oscuro"] [data-luma="claro"] .h6 {
    color:titulosOscuro !important;
  }
  
  .grilla[data-luma="claro"] [data-luma="oscuro"] h1, .grilla[data-luma="claro"] [data-luma="oscuro"] h2,
  .grilla[data-luma="claro"] [data-luma="oscuro"] h3, .grilla[data-luma="claro"] [data-luma="oscuro"] h4,
  .grilla[data-luma="claro"] [data-luma="oscuro"] h5, .grilla[data-luma="claro"] [data-luma="oscuro"] h6,
  .grilla[data-luma="claro"] [data-luma="oscuro"] .h1, .grilla[data-luma="claro"] [data-luma="oscuro"] .h2,
  .grilla[data-luma="claro"] [data-luma="oscuro"] .h3, .grilla[data-luma="claro"] [data-luma="oscuro"] .h4,
  .grilla[data-luma="claro"] [data-luma="oscuro"] .h5, .grilla[data-luma="claro"] [data-luma="oscuro"] .h6 {
    color:titulosClaro !important;
  }


  /*
  [data-luma="claro"] [data-luma="oscuro"] h2 {
    color:red;
  }*/

  /*------------------------------------*\
      $CALL TO ACTION
  \*------------------------------------*/
  [data-luma="claro"] .LayoutCallToAction h1, 
  [data-luma="claro"] .LayoutCallToAction h2, 
  [data-luma="claro"] .LayoutCallToAction h3, 
  [data-luma="claro"] .LayoutCallToAction h4, 
  [data-luma="claro"] .LayoutCallToAction h5, 
  [data-luma="claro"] .LayoutCallToAction h6 {
    color:textForCallBack1;
  }

  [data-luma="oscuro"] .LayoutCallToAction h1, 
  [data-luma="oscuro"] .LayoutCallToAction h2, 
  [data-luma="oscuro"] .LayoutCallToAction h3, 
  [data-luma="oscuro"] .LayoutCallToAction h4, 
  [data-luma="oscuro"] .LayoutCallToAction h5, 
  [data-luma="oscuro"] .LayoutCallToAction h6 {
    color:textForCallBack2;
  }

  [data-luma="claro"].LayoutCallToAction h1, 
  [data-luma="claro"].LayoutCallToAction h2, 
  [data-luma="claro"].LayoutCallToAction h3, 
  [data-luma="claro"].LayoutCallToAction h4, 
  [data-luma="claro"].LayoutCallToAction h5, 
  [data-luma="claro"].LayoutCallToAction h6 {
    color:primario;
  }

  [data-luma="oscuro"].LayoutCallToAction h1, 
  [data-luma="oscuro"].LayoutCallToAction h2, 
  [data-luma="oscuro"].LayoutCallToAction h3, 
  [data-luma="oscuro"].LayoutCallToAction h4, 
  [data-luma="oscuro"].LayoutCallToAction h5, 
  [data-luma="oscuro"].LayoutCallToAction h6 {
    color:claro;
  }

  /*------------------------------------*\
      $TITULOS RESALTADO
  \*------------------------------------*/
  [data-accent="1"] h1 u,  [data-accent="1"] h2 u,  [data-accent="1"] h3 u,
  [data-accent="1"] h4 u,  [data-accent="1"] h5 u,  [data-accent="1"] h6 u {
    color:resaltado2;
  }
  [data-accent="1"] h1 s,  [data-accent="1"] h2 s,  [data-accent="1"] h3 s,
  [data-accent="1"] h4 s,  [data-accent="1"] h5 s,  [data-accent="1"] h6 s {
    color:resaltado1;
  }
  [data-accent="2"] h1 u,  [data-accent="2"] h2 u,  [data-accent="2"] h3 u,
  [data-accent="2"] h4 u,  [data-accent="2"] h5 u,  [data-accent="2"] h6 u {
    color:resaltado1;
  }
  [data-accent="2"] h1 s,  [data-accent="2"] h2 s,  [data-accent="2"] h3 s,
  [data-accent="2"] h4 s,  [data-accent="2"] h5 s,  [data-accent="2"] h6 s {
    color:resaltado2;
  }
  
  /*------------------------------------*\
      $TITULOS FOOTER
  \*------------------------------------*/
  [data-luma="claro"] .LayoutFooter h1, [data-luma="claro"] .LayoutFooter .h1,
  [data-luma="claro"] .LayoutFooter h2, [data-luma="claro"] .LayoutFooter .h2,
  [data-luma="claro"] .LayoutFooter h3, [data-luma="claro"] .LayoutFooter .h3,
  [data-luma="claro"] .LayoutFooter h4, [data-luma="claro"] .LayoutFooter .h4,
  [data-luma="claro"] .LayoutFooter h5, [data-luma="claro"] .LayoutFooter .h5,
  [data-luma="claro"] .LayoutFooter h6, [data-luma="claro"] .LayoutFooter .h6 {
    color:textForFooterBack1;
  }

  [data-luma="oscuro"] .LayoutFooter h1, [data-luma="oscuro"] .LayoutFooter .h1,
  [data-luma="oscuro"] .LayoutFooter h2, [data-luma="oscuro"] .LayoutFooter .h2,
  [data-luma="oscuro"] .LayoutFooter h3, [data-luma="oscuro"] .LayoutFooter .h3,
  [data-luma="oscuro"] .LayoutFooter h4, [data-luma="oscuro"] .LayoutFooter .h4,
  [data-luma="oscuro"] .LayoutFooter h5, [data-luma="oscuro"] .LayoutFooter .h5,
  [data-luma="oscuro"] .LayoutFooter h6, [data-luma="oscuro"] .LayoutFooter .h6 {
    color:textForFooterBack2;
  }
  
  /*------------------------------------*\
      $FANCY TITULOS
  \*------------------------------------*/
  [data-accent="1"] .Titulo-1 h1:before,
  [data-accent="1"] .Titulo-1 h1:after,
  [data-accent="1"] .Titulo-2 h1:before,
  [data-accent="1"] .Titulo-2 h1:after,
  [data-accent="1"] .Titulo-1 h2:before,
  [data-accent="1"] .Titulo-1 h2:after,
  [data-accent="1"] .Titulo-2 h2:before,
  [data-accent="1"] .Titulo-2 h2:after,
  [data-accent="1"] .Titulo-1 h3:before,
  [data-accent="1"] .Titulo-1 h3:after,
  [data-accent="1"] .Titulo-2 h3:before,
  [data-accent="1"] .Titulo-2 h3:after,
  [data-accent="1"] .Titulo-1 h4:before,
  [data-accent="1"] .Titulo-1 h4:after,
  [data-accent="1"] .Titulo-2 h4:before,
  [data-accent="1"] .Titulo-2 h4:after,
  [data-accent="1"] .Titulo-1 h5:before,
  [data-accent="1"] .Titulo-1 h5:after,
  [data-accent="1"] .Titulo-2 h5:before,
  [data-accent="1"] .Titulo-2 h5:after,
  [data-accent="1"] .Titulo-1 h6:before,
  [data-accent="1"] .Titulo-1 h6:after,
  [data-accent="1"] .Titulo-2 h6:before,
  [data-accent="1"] .Titulo-2 h6:after,{
    background: acento1;
  }

  [data-accent="1"] .Titulo-3 h1:before,
  [data-accent="1"] .Titulo-3 h2:before,
  [data-accent="1"] .Titulo-3 h3:before,
  [data-accent="1"] .Titulo-3 h4:before,
  [data-accent="1"] .Titulo-3 h5:before,
  [data-accent="1"] .Titulo-3 h6:before{
    background-color:acento1;
  }
  [data-accent="1"] .Titulo-4 h1,
  [data-accent="1"] .Titulo-4 h2,
  [data-accent="1"] .Titulo-4 h3,
  [data-accent="1"] .Titulo-4 h4,
  [data-accent="1"] .Titulo-4 h5,
  [data-accent="1"] .Titulo-4 h6{
    border-color: acento1;
  }

  [data-accent="2"] .Titulo-1 h1:before,
  [data-accent="2"] .Titulo-1 h1:after,
  [data-accent="2"] .Titulo-2 h1:before,
  [data-accent="2"] .Titulo-2 h1:after,
  [data-accent="2"] .Titulo-1 h2:before,
  [data-accent="2"] .Titulo-1 h2:after,
  [data-accent="2"] .Titulo-2 h2:before,
  [data-accent="2"] .Titulo-2 h2:after,
  [data-accent="2"] .Titulo-1 h3:before,
  [data-accent="2"] .Titulo-1 h3:after,
  [data-accent="2"] .Titulo-2 h3:before,
  [data-accent="2"] .Titulo-2 h3:after,
  [data-accent="2"] .Titulo-1 h4:before,
  [data-accent="2"] .Titulo-1 h4:after,
  [data-accent="2"] .Titulo-2 h4:before,
  [data-accent="2"] .Titulo-2 h4:after,
  [data-accent="2"] .Titulo-1 h5:before,
  [data-accent="2"] .Titulo-1 h5:after,
  [data-accent="2"] .Titulo-2 h5:before,
  [data-accent="2"] .Titulo-2 h5:after,
  [data-accent="2"] .Titulo-1 h6:before,
  [data-accent="2"] .Titulo-1 h6:after,
  [data-accent="2"] .Titulo-2 h6:before,
  [data-accent="2"] .Titulo-2 h6:after,{
    background: acento2;
  }

  [data-accent="2"] .Titulo-3 h1:before,
  [data-accent="2"] .Titulo-3 h2:before,
  [data-accent="2"] .Titulo-3 h3:before,
  [data-accent="2"] .Titulo-3 h4:before,
  [data-accent="2"] .Titulo-3 h5:before,
  [data-accent="2"] .Titulo-3 h6:before{
    background-color:acento2;
  }
  [data-accent="2"] .Titulo-4 h1,
  [data-accent="2"] .Titulo-4 h2,
  [data-accent="2"] .Titulo-4 h3,
  [data-accent="2"] .Titulo-4 h4,
  [data-accent="2"] .Titulo-4 h5,
  [data-accent="2"] .Titulo-4 h6{
    border-color: acento2;
  }